<!DOCTYPE html>
<html ng-app="mapApp">
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<title>Circles</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<style>
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	#map {
		height: 100%;
		width: 75%;
	}
	#options {
		width: 25%;
		float: right;
		padding: 30px;
	}
	.unstyled {
		list-style: none;
	}
	.no-padding {
		padding: 0;
	}
	</style>
</head>
<body ng-controller="mapController as map">
	<div id="options">
		<textarea name="" id="" cols="30" rows="10"></textarea>
		<form ng-submit="map.add()">
			<input type="text" ng-model="map.location.latitude" placeholder="Latitude">
			<input type="text" ng-model="map.location.longitude" placeholder="Longitude">
			<input type="text" ng-model="map.location.radius" placeholder="Radius">
			<input type="submit" value="add">
		</form>
		<ul class="unstyled no-padding">
			<li ng-repeat="location in map.locations">
				<hr>
				<button ng-click="map.remove($index)">Remove</button>
				<ul class="unstyled" id="{{ $index }}">
					<li>Latitude: {{ location.center.lat }}</li>
					<li>Longitude: {{ location.center.lng }}</li>
					<li>Radius: {{ location.radius }}</li>
				</ul>	
			</li>
		</ul>
	</div>
	<div id="map"></div>
</div>

<script>

var app = angular.module('mapApp', []);

app.controller('mapController', function() {

	var map = this;

	map.add = function() {
		map.locations.push({
			center: {lat: Number(map.location.latitude), lng: Number(map.location.longitude)},
			radius: Number(map.location.radius)
		});
		map.init(map.locations);
		map.reset();
	}

	map.remove = function(index) {
		map.locations.splice(index, 1);
		map.init(map.locations);
	}

	map.reset = function() {
		map.location.latitude = '';
		map.location.longitude = '';
		map.location.radius = '';
	}

	map.init = function(locations) {

		console.log(locations);

		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 11,
			center: {lat: -27.95, lng: 153.5},
			mapTypeId: google.maps.MapTypeId.TERRAIN
		});

		for (var index in locations)
		{
			var cityCircle = new google.maps.Circle({
				strokeColor: '#FF0000',
				strokeOpacity: 0.8,
				strokeWeight: 2,
				fillColor: '#FF0000',
				fillOpacity: 0.35,
				map: map,
				center: locations[index].center,
				radius: locations[index].radius
			});
		}
	}

	angular.element(document).ready(function () {
		map.init(map.locations);
	});

	map.locations = [
	{
		center: {lat: -27.998576, lng: 153.314296},
		radius: 1000
	},
	{
		center: {lat: -28.14270019530, lng: 153.49438476600},
		radius: 350
	},
	{
		center: {lat: -28.09869384770, lng: 153.43139648400},
		radius: 100
	},
	{
		center: {lat: -28.09179687500, lng: 153.43139648400},
		radius: 1500
	},
	{
		center: {lat: -28.07672119140, lng: 153.38342285200},
		radius: 1200
	},
	{
		center: {lat: -28.00079345700, lng: 153.33941650400},
		radius: 1600
	},
	{
		center: {lat: -27.97576904300, lng: 153.59338378900},
		radius: 22000
	},
	{
		center: {lat: -27.92480468750, lng: 153.33239746100},
		radius: 1100
	},
	{
		center: {lat: -27.86279296880, lng: 153.31140136700},
		radius: 2250
	},
	{
		center: {lat: -27.73278808590, lng: 153.22540283200},
		radius: 800
	}];
});

</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true"></script>
</body>
</html>