<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <style>
    .container {
      max-width: 34rem;
    }
    
     header {
      height: 60px;
      background-color: #f5f5f5;
    }
    #chat-window {
    overflow-y: scroll;

    }
  </style>
  <script>
    var app = angular.module("messageApp", ["firebase"]);
    
    app.controller("messageCtrl", function($scope, $window, $firebaseArray) {
  var ref = new Firebase("https://blinding-torch-814.firebaseio.com/messages");

  $scope.messages = $firebaseArray(ref);



  $scope.addMessage = function($event) {
    console.log('key pressed');
    
    var keyCode = $event.which || $event.keyCode;
    if (keyCode === 13) {
        console.log('return key pressed');
        $scope.messages.$add({
      text: $scope.messageField,
      user: $scope.userField
    });
    
    clear();
    }
  };
  
  var clear = function() {
    $scope.messageField = null;
  }
  
  
  
  
  
  
  
  $scope.windowHeight;
  
  
  // Window height
 $scope.$watch(function(){
       return $window.innerHeight;
    }, function(value) {
       console.log(value);
       $scope.windowHeight = value;
   });



    });
    
    

  </script>
</head>

<body ng-app="messageApp" ng-controller="messageCtrl">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Type a message" ng-model="messageField" ng-keypress="addMessage($event)">
        </div>
        <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Type a userid" ng-model="userField">
        </div>
      </div>

    </div>
  </header>
  <section>
    <div class="container">
      <div id="chat-window" style="height: {{windowHeight-70}}px">
        <div ng-repeat="message in messages | orderBy:'-$id'">
        <div ng-class="{'text-right': userField == message.user}">
        <span class="label label-primary " ng-show="userField == message.user">User: {{ message.user }} | {{ message.text }}</span>
        <span class="label label-default" ng-show="userField != message.user">User: {{ message.user }} | {{ message.text }}</span>
        </div>
        </div>
      </div>
      
    </div>

  </section>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

</body>

</html>